:root {
  --color-bg: #ffe0f7;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: 'HK Grotesk', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.content {
  text-align: center;
}

.title {
  color: #e39fd0;
  font-family: var(--font-family);
  font-size: 3rem;
  margin: 1rem 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin: var(--image-margin);
  cursor: pointer;
}

.instructions {
  margin-top: 2rem;
}

h2 {
  color: #2800FF;
}
